{{ $s := .Site.Data.site }}
<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>{{ $s.footer.copyright }}</p>
      </div>
      <div class="footer-links">
        <span style="color:#06b6d4;font-size:.85rem;font-weight:400;">链接：</span>
        <a style="color:#06b6d4;font-size:.85rem;font-weight:400;" href="https://www.henu.edu.cn/" target="_blank" rel="noopener">河南大学</a>
        <a style="color:#06b6d4;font-size:.85rem;font-weight:400;" href="https://cs.henu.edu.cn/" target="_blank" rel="noopener">计算机与信息工程学院</a>
        <a style="color:#06b6d4;font-size:.85rem;font-weight:400;" href="https://cs.henu.edu.cn/info/1272/5506.htm" target="_blank" rel="noopener">官网主页</a>
        <a style="color:#06b6d4;font-size:.85rem;font-weight:400;" href="https://yuxiangma.com/" hreflang="en">English</a>
      </div>
    </div>
  </div>
</footer>
